examples/003-chart-portal-flow.json
[
  {
    "id": "fc-chart-flow",
    "type": "tab",
    "label": "Chart.js Demo",
    "disabled": false
  },
  {
    "id": "fc-chart-linechart-comp",
    "type": "fc-portal-component",
    "z": "fc-chart-flow",
    "name": "LineChart",
    "compName": "LineChart",
    "compInputs": "data,labelKey,datasets,title,height",
    "compOutputs": "",
    "compCode": "import ChartJS from 'chart.js/auto';\n\nfunction LineChart({ data = [], labelKey = 'time', datasets = [], title = '', height = 'h-64' }) {\n  const canvasRef = useRef(null);\n  const chartRef = useRef(null);\n\n  useEffect(() => {\n    if (!canvasRef.current || data.length === 0) return;\n\n    if (chartRef.current) {\n      const chart = chartRef.current;\n      chart.data.labels = data.map(p => p[labelKey]);\n      datasets.forEach((ds, i) => {\n        chart.data.datasets[i].data = data.map(p => p[ds.key]);\n      });\n      chart.update('none');\n      return;\n    }\n\n\n    chartRef.current = new ChartJS(canvasRef.current, {\n      type: 'line',\n      data: {\n        labels: data.map(p => p[labelKey]),\n        datasets: datasets.map(ds => ({\n          label: ds.label,\n          data: data.map(p => p[ds.key]),\n          borderColor: ds.color,\n          backgroundColor: ds.color + '18',\n          tension: 0.35,\n          fill: true,\n          pointRadius: 2,\n          borderWidth: 2\n        }))\n      },\n      options: {\n        responsive: true,\n        maintainAspectRatio: false,\n        animation: false,\n        plugins: {\n          legend: { labels: { color: '#a1a1aa', usePointStyle: true, pointStyle: 'circle', padding: 16 } }\n        },\n        scales: {\n          x: { ticks: { color: '#52525b', font: { size: 10 } }, grid: { color: '#27272a' } },\n          y: { ticks: { color: '#52525b', font: { size: 10 } }, grid: { color: '#27272a' } }\n        }\n      }\n    });\n\n    return () => {\n      if (chartRef.current) {\n        chartRef.current.destroy();\n        chartRef.current = null;\n      }\n    };\n  }, [data, datasets]);\n\n  return (\n    <div className=\"bg-zinc-900/50 rounded-xl border border-zinc-800/50 p-5\">\n      {title && <h3 className=\"text-sm font-medium text-zinc-300 mb-3\">{title}</h3>}\n      <div className={height}>\n        <canvas ref={canvasRef} />\n      </div>\n    </div>\n  );\n}",
    "x": 380,
    "y": 80,
    "wires": []
  },
  {
    "id": "fc-chart-inject",
    "type": "inject",
    "z": "fc-chart-flow",
    "name": "Sensor tick",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "2",
    "payload": "{}",
    "payloadType": "json",
    "x": 160,
    "y": 160,
    "wires": [
      [
        "fc-chart-func"
      ]
    ]
  },
  {
    "id": "fc-chart-func",
    "type": "function",
    "z": "fc-chart-flow",
    "name": "Random data point",
    "func": "var history = flow.get('chartHistory') || [];\nvar now = new Date();\nhistory.push({\n  time: now.toLocaleTimeString(),\n  temp: +(18 + Math.random() * 12).toFixed(1),\n  humidity: Math.round(35 + Math.random() * 40),\n  cpu: Math.round(15 + Math.random() * 60),\n  memory: Math.round(40 + Math.random() * 45)\n});\nif (history.length > 20) history.shift();\nflow.set('chartHistory', history);\nmsg.payload = history;\nreturn msg;",
    "outputs": 1,
    "x": 380,
    "y": 160,
    "wires": [
      [
        "fc-chart-portal"
      ]
    ]
  },
  {
    "id": "fc-chart-portal",
    "type": "portal-react",
    "z": "fc-chart-flow",
    "name": "Chart Portal",
    "subPath": "chart",
    "pageTitle": "fromcubes charts",
    "customHead": "",
    "portalAuth": false,
    "showWsStatus": false,
    "libs": [
      {
        "module": "chart.js/auto",
        "var": "Chart"
      }
    ],
    "componentCode": "function App() {\n  const { data } = useNodeRed();\n  const [tab, setTab] = useState(0);\n  const points = data || [];\n\n  const tabs = [\n    { label: 'Overview', icon: '\\u25a6' },\n    { label: 'Environment', icon: '\\u25cb' },\n    { label: 'System', icon: '\\u25a1' }\n  ];\n\n  return (\n    <Page>\n      <div className=\"max-w-5xl mx-auto px-6 py-8\">\n\n        <Header title=\"fromcubes charts\" subtitle={points.length + ' data points \\u2022 live'} />\n\n        <div className=\"flex gap-1 mb-6 bg-zinc-900/50 rounded-lg p-1 w-fit\">\n          {tabs.map((t, i) => (\n            <button\n              key={i}\n              onClick={() => setTab(i)}\n              className={`px-4 py-2 rounded-md text-sm transition-all ${\n                tab === i\n                  ? 'bg-zinc-800 text-zinc-100 shadow-sm'\n                  : 'text-zinc-500 hover:text-zinc-300'\n              }`}\n            >{t.icon} {t.label}</button>\n          ))}\n        </div>\n\n        {tab === 0 && (\n          <div className=\"grid grid-cols-1 lg:grid-cols-2 gap-4\">\n            <LineChart\n              data={points}\n              title=\"Temperature\"\n              datasets={[{ key: 'temp', label: 'Temp (\\u00b0C)', color: '#22d3ee' }]}\n            />\n            <LineChart\n              data={points}\n              title=\"Humidity\"\n              datasets={[{ key: 'humidity', label: 'Humidity (%)', color: '#a78bfa' }]}\n            />\n            <LineChart\n              data={points}\n              title=\"CPU Usage\"\n              datasets={[{ key: 'cpu', label: 'CPU (%)', color: '#f97316' }]}\n            />\n            <LineChart\n              data={points}\n              title=\"Memory\"\n              datasets={[{ key: 'memory', label: 'Memory (%)', color: '#34d399' }]}\n            />\n          </div>\n        )}\n\n        {tab === 1 && (\n          <div className=\"space-y-4\">\n            <LineChart\n              data={points}\n              title=\"Temperature & Humidity\"\n              height=\"h-80\"\n              datasets={[\n                { key: 'temp', label: 'Temp (\\u00b0C)', color: '#22d3ee' },\n                { key: 'humidity', label: 'Humidity (%)', color: '#a78bfa' }\n              ]}\n            />\n            <div className=\"grid grid-cols-2 gap-4\">\n              <div className=\"bg-zinc-900/50 rounded-xl border border-zinc-800/50 p-5\">\n                <div className=\"text-xs text-zinc-500 uppercase tracking-wider\">Current Temp</div>\n                <div className=\"text-3xl font-bold text-cyan-400 mt-2\">\n                  {points.length > 0 ? points[points.length - 1].temp : '--'}\n                  <span className=\"text-sm font-normal text-zinc-500 ml-1\">\\u00b0C</span>\n                </div>\n              </div>\n              <div className=\"bg-zinc-900/50 rounded-xl border border-zinc-800/50 p-5\">\n                <div className=\"text-xs text-zinc-500 uppercase tracking-wider\">Current Humidity</div>\n                <div className=\"text-3xl font-bold text-violet-400 mt-2\">\n                  {points.length > 0 ? points[points.length - 1].humidity : '--'}\n                  <span className=\"text-sm font-normal text-zinc-500 ml-1\">%</span>\n                </div>\n              </div>\n            </div>\n          </div>\n        )}\n\n        {tab === 2 && (\n          <div className=\"space-y-4\">\n            <LineChart\n              data={points}\n              title=\"CPU & Memory\"\n              height=\"h-80\"\n              datasets={[\n                { key: 'cpu', label: 'CPU (%)', color: '#f97316' },\n                { key: 'memory', label: 'Memory (%)', color: '#34d399' }\n              ]}\n            />\n            <div className=\"grid grid-cols-2 gap-4\">\n              <div className=\"bg-zinc-900/50 rounded-xl border border-zinc-800/50 p-5\">\n                <div className=\"text-xs text-zinc-500 uppercase tracking-wider\">Current CPU</div>\n                <div className=\"text-3xl font-bold text-orange-400 mt-2\">\n                  {points.length > 0 ? points[points.length - 1].cpu : '--'}\n                  <span className=\"text-sm font-normal text-zinc-500 ml-1\">%</span>\n                </div>\n              </div>\n              <div className=\"bg-zinc-900/50 rounded-xl border border-zinc-800/50 p-5\">\n                <div className=\"text-xs text-zinc-500 uppercase tracking-wider\">Current Memory</div>\n                <div className=\"text-3xl font-bold text-emerald-400 mt-2\">\n                  {points.length > 0 ? points[points.length - 1].memory : '--'}\n                  <span className=\"text-sm font-normal text-zinc-500 ml-1\">%</span>\n                </div>\n              </div>\n            </div>\n          </div>\n        )}\n\n      </div>\n    </Page>\n  );\n}",
    "x": 600,
    "y": 160,
    "wires": [
      [
        "fc-chart-debug"
      ]
    ]
  },
  {
    "id": "fc-chart-debug",
    "type": "debug",
    "z": "fc-chart-flow",
    "name": "Chart output",
    "active": true,
    "tosidebar": true,
    "x": 790,
    "y": 160,
    "wires": []
  }
]
