examples/006-pixi-portal-flow.json
[
  {
    "id": "fc-pixi-flow",
    "type": "tab",
    "label": "PixiJS Demo",
    "disabled": false
  },
  {
    "id": "fc-pixi-comp-clicksprite",
    "type": "fc-portal-component",
    "z": "fc-pixi-flow",
    "compName": "ClickableSprite",
    "compCode": "import { Assets, Texture } from 'pixi.js';\nimport { useTick } from '@pixi/react';\n\nfunction ClickableSprite({ id, x, y, tint, onClick }) {\n  const ref = useRef(null);\n  const [texture, setTexture] = useState(Texture.EMPTY);\n  const [hovered, setHovered] = useState(false);\n  const clicks = useRef(0);\n  const time = useRef(Math.random() * Math.PI * 2);\n\n  useEffect(() => {\n    if (texture === Texture.EMPTY) {\n      Assets.load('https://pixijs.com/assets/bunny.png').then(setTexture);\n    }\n  }, [texture]);\n\n  useTick((t) => {\n    if (!ref.current) return;\n    time.current += t.deltaTime * 0.03;\n    ref.current.rotation = Math.sin(time.current) * 0.15;\n  });\n\n  return (\n    <pixiSprite\n      ref={ref}\n      texture={texture}\n      anchor={0.5}\n      x={x}\n      y={y}\n      tint={tint}\n      scale={hovered ? 2.2 : 1.8}\n      eventMode=\"static\"\n      cursor=\"pointer\"\n      onPointerOver={() => setHovered(true)}\n      onPointerOut={() => setHovered(false)}\n      onClick={() => {\n        clicks.current += 1;\n        onClick({ id, x, y, clicks: clicks.current });\n      }}\n    />\n  );\n}",
    "compInputs": "id,x,y,tint,onClick",
    "compOutputs": "",
    "x": 160,
    "y": 300,
    "wires": []
  },
  {
    "id": "fc-pixi-comp-statusbar",
    "type": "fc-portal-component",
    "z": "fc-pixi-flow",
    "compName": "StatusBar",
    "compCode": "function StatusBar({ spriteCount, totalClicks, lastClicked }) {\n  return (\n    <div className=\"px-6 py-4 bg-zinc-900/50 border-t border-zinc-800/50 flex items-center gap-6 flex-wrap\">\n      <Stat label=\"Sprites\">\n        <span className=\"text-sm font-mono text-cyan-400\">{spriteCount}</span>\n      </Stat>\n      <Stat label=\"Total clicks\">\n        <span className=\"text-sm font-mono text-emerald-400\">{totalClicks}</span>\n      </Stat>\n      <Stat label=\"Last clicked\">\n        <span className=\"text-sm font-mono text-zinc-300\">{lastClicked || '\\u2014'}</span>\n      </Stat>\n    </div>\n  );\n}",
    "compInputs": "spriteCount,totalClicks,lastClicked",
    "compOutputs": "",
    "x": 360,
    "y": 300,
    "wires": []
  },
  {
    "id": "fc-pixi-inject",
    "type": "inject",
    "z": "fc-pixi-flow",
    "name": "Tick",
    "props": [{ "p": "payload" }],
    "repeat": "5",
    "payload": "{}",
    "payloadType": "json",
    "x": 160,
    "y": 160,
    "wires": [["fc-pixi-func"]]
  },
  {
    "id": "fc-pixi-func",
    "type": "function",
    "z": "fc-pixi-flow",
    "name": "Random tint",
    "func": "const tints = [0x22d3ee, 0xa78bfa, 0x34d399, 0xfbbf24, 0xf87171, 0x60a5fa, 0xfb923c, 0xe879f9];\nmsg.payload = {\n  tint: tints[Math.floor(Math.random() * tints.length)]\n};\nreturn msg;",
    "outputs": 1,
    "x": 360,
    "y": 160,
    "wires": [["fc-pixi-portal"]]
  },
  {
    "id": "fc-pixi-portal",
    "type": "portal-react",
    "z": "fc-pixi-flow",
    "name": "Pixi Portal",
    "subPath": "pixi",
    "pageTitle": "fromcubes Pixi",
    "customHead": "",
    "portalAuth": false,
    "showWsStatus": false,
    "libs": [
      { "module": "pixi.js", "var": "PIXI" },
      { "module": "@pixi/react", "var": "PixiReact" }
    ],
    "componentCode": "import { Sprite } from 'pixi.js';\nimport { Application, extend } from '@pixi/react';\nextend({ Sprite });\n\nfunction App() {\n  const { data, send } = useNodeRed();\n  const [sprites, setSprites] = useState([]);\n  const [totalClicks, setTotalClicks] = useState(0);\n  const [lastClicked, setLastClicked] = useState(null);\n  const idRef = useRef(0);\n\n  useEffect(() => {\n    if (!data) return;\n    setSprites(prev => {\n      const next = [...prev, {\n        id: idRef.current++,\n        x: 40 + Math.random() * 520,\n        y: 40 + Math.random() * 320,\n        tint: data.tint || 0x22d3ee\n      }];\n      return next.length > 12 ? next.slice(-12) : next;\n    });\n  }, [data]);\n\n  const handleClick = useCallback((info) => {\n    setTotalClicks(c => c + 1);\n    setLastClicked('#' + info.id);\n    send({\n      action: 'clicked',\n      spriteId: info.id,\n      x: Math.round(info.x),\n      y: Math.round(info.y),\n      spriteClicks: info.clicks,\n      timestamp: Date.now()\n    }, 'pixi/click');\n  }, [send]);\n\n  return (\n    <Page>\n      <Header title=\"fromcubes Pixi\" subtitle=\"click the bunnies\" />\n      <div className=\"flex-1 flex items-center justify-center p-6\">\n        <div className=\"rounded-xl overflow-hidden border border-zinc-800\">\n          <Application width={600} height={400} background={0x18181b} antialias>\n            {sprites.map(s => (\n              <ClickableSprite key={s.id} {...s} onClick={handleClick} />\n            ))}\n          </Application>\n        </div>\n      </div>\n      <StatusBar spriteCount={sprites.length} totalClicks={totalClicks} lastClicked={lastClicked} />\n    </Page>\n  );\n}",
    "x": 560,
    "y": 160,
    "wires": [["fc-pixi-debug"]]
  },
  {
    "id": "fc-pixi-debug",
    "type": "debug",
    "z": "fc-pixi-flow",
    "name": "Pixi output",
    "active": true,
    "tosidebar": true,
    "x": 750,
    "y": 160,
    "wires": []
  }
]
