examples/threejs-portal-flow.json
[
  {
    "id": "fc-three-flow",
    "type": "tab",
    "label": "Three.js Demo",
    "disabled": false
  },
  {
    "id": "fc-three-inject",
    "type": "inject",
    "z": "fc-three-flow",
    "name": "Tick",
    "props": [{ "p": "payload" }],
    "repeat": "3",
    "payload": "{}",
    "payloadType": "json",
    "x": 160,
    "y": 160,
    "wires": [["fc-three-func"]]
  },
  {
    "id": "fc-three-func",
    "type": "function",
    "z": "fc-three-flow",
    "name": "Random params",
    "func": "msg.payload = {\n  rotSpeed: +(0.2 + Math.random() * 1.8).toFixed(2),\n  color: '#' + Math.floor(Math.random()*16777215).toString(16).padStart(6,'0'),\n  scale: +(0.5 + Math.random() * 1.5).toFixed(2),\n  shape: ['box','sphere','torus','knot'][Math.floor(Math.random()*4)]\n};\nreturn msg;",
    "outputs": 1,
    "x": 360,
    "y": 160,
    "wires": [["fc-three-portal"]]
  },
  {
    "id": "fc-three-portal",
    "type": "portal-react",
    "z": "fc-three-flow",
    "name": "3D Portal",
    "endpoint": "/fromcubes/3d",
    "pageTitle": "fromcubes 3D",
    "customHead": "",
    "portalAuth": false,
    "showWsStatus": false,
    "libs": [
      { "module": "three", "var": "THREE" }
    ],
    "componentCode": "function App() {\n  const { data, send } = useNodeRed();\n  const mountRef = useRef(null);\n  const sceneRef = useRef(null);\n  const meshRef = useRef(null);\n  const speedRef = useRef(1);\n  const params = data || { rotSpeed: 1, color: '#22d3ee', scale: 1, shape: 'box' };\n\n  useEffect(() => {\n    speedRef.current = params.rotSpeed;\n  }, [params.rotSpeed]);\n\n  useEffect(() => {\n    const THREE = require('three');\n    const el = mountRef.current;\n    const w = el.clientWidth;\n    const h = el.clientHeight;\n\n    const scene = new THREE.Scene();\n    const camera = new THREE.PerspectiveCamera(50, w / h, 0.1, 100);\n    camera.position.z = 4;\n\n    const renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });\n    renderer.setSize(w, h);\n    renderer.setPixelRatio(window.devicePixelRatio);\n    el.appendChild(renderer.domElement);\n\n    const ambient = new THREE.AmbientLight(0xffffff, 0.4);\n    scene.add(ambient);\n    const point = new THREE.PointLight(0xffffff, 1.2, 100);\n    point.position.set(5, 5, 5);\n    scene.add(point);\n\n    const geo = new THREE.TorusKnotGeometry(1, 0.35, 100, 16);\n    const mat = new THREE.MeshStandardMaterial({ color: 0x22d3ee, roughness: 0.3, metalness: 0.7 });\n    const mesh = new THREE.Mesh(geo, mat);\n    scene.add(mesh);\n    meshRef.current = mesh;\n    sceneRef.current = { scene, camera, renderer, THREE };\n\n    let raf;\n    function animate() {\n      raf = requestAnimationFrame(animate);\n      mesh.rotation.x += 0.005 * speedRef.current;\n      mesh.rotation.y += 0.01 * speedRef.current;\n      renderer.render(scene, camera);\n    }\n    animate();\n\n    const onResize = () => {\n      const w2 = el.clientWidth;\n      const h2 = el.clientHeight;\n      camera.aspect = w2 / h2;\n      camera.updateProjectionMatrix();\n      renderer.setSize(w2, h2);\n    };\n    window.addEventListener('resize', onResize);\n\n    return () => {\n      cancelAnimationFrame(raf);\n      window.removeEventListener('resize', onResize);\n      renderer.dispose();\n      geo.dispose();\n      mat.dispose();\n      el.removeChild(renderer.domElement);\n    };\n  }, []);\n\n  useEffect(() => {\n    if (!meshRef.current || !sceneRef.current) return;\n    const { THREE } = sceneRef.current;\n    const mesh = meshRef.current;\n    const scene = sceneRef.current.scene;\n\n    mesh.material.color.set(params.color);\n    mesh.scale.setScalar(params.scale);\n\n    const geoMap = {\n      box: () => new THREE.BoxGeometry(1.4, 1.4, 1.4),\n      sphere: () => new THREE.SphereGeometry(1, 32, 32),\n      torus: () => new THREE.TorusGeometry(1, 0.4, 16, 48),\n      knot: () => new THREE.TorusKnotGeometry(1, 0.35, 100, 16)\n    };\n    const makeFn = geoMap[params.shape] || geoMap.knot;\n    const oldGeo = mesh.geometry;\n    mesh.geometry = makeFn();\n    oldGeo.dispose();\n  }, [params.color, params.scale, params.shape]);\n\n  const shapes = ['box', 'sphere', 'torus', 'knot'];\n\n  return (\n    <div className=\"min-h-screen bg-zinc-950 flex flex-col\">\n      <div className=\"flex items-center justify-between px-6 py-4\">\n        <div>\n          <h1 className=\"text-xl font-semibold text-zinc-100 tracking-tight\">fromcubes 3D</h1>\n          <p className=\"text-xs text-zinc-600 mt-0.5\">Three.js + live Node-RED data</p>\n        </div>\n        <div className=\"flex items-center gap-2\">\n          <span className=\"inline-block w-1.5 h-1.5 rounded-full bg-emerald-400 animate-pulse\" />\n          <span className=\"text-xs text-zinc-500\">streaming</span>\n        </div>\n      </div>\n\n      <div ref={mountRef} className=\"flex-1\" />\n\n      <div className=\"px-6 py-4 bg-zinc-900/50 border-t border-zinc-800/50 flex items-center gap-6 flex-wrap\">\n        <div className=\"flex gap-2\">\n          {shapes.map(s => (\n            <button\n              key={s}\n              onClick={() => send({ shape: s })}\n              className={`px-3 py-1.5 rounded-md text-xs transition-colors ${\n                params.shape === s\n                  ? 'bg-cyan-600 text-white'\n                  : 'bg-zinc-800 text-zinc-400 hover:text-zinc-200'\n              }`}\n            >{s}</button>\n          ))}\n        </div>\n        <div className=\"flex items-center gap-3\">\n          <span className=\"text-xs text-zinc-500\">Speed</span>\n          <span className=\"text-sm font-mono text-cyan-400\">{params.rotSpeed}x</span>\n        </div>\n        <div className=\"flex items-center gap-3\">\n          <span className=\"text-xs text-zinc-500\">Scale</span>\n          <span className=\"text-sm font-mono text-cyan-400\">{params.scale}x</span>\n        </div>\n        <div className=\"flex items-center gap-3\">\n          <span className=\"text-xs text-zinc-500\">Color</span>\n          <span className=\"w-4 h-4 rounded-full border border-zinc-700\" style={{backgroundColor: params.color}} />\n        </div>\n      </div>\n    </div>\n  );\n}",
    "x": 560,
    "y": 160,
    "wires": [["fc-three-debug"]]
  },
  {
    "id": "fc-three-debug",
    "type": "debug",
    "z": "fc-three-flow",
    "name": "3D output",
    "active": true,
    "tosidebar": true,
    "x": 750,
    "y": 160,
    "wires": []
  }
]
